
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    height: 100%;
    background-color:white;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.pastRental{
    color:black;
    font-size:15px;
    text-align:left;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* This is for the HOME PAGE */

.header{ 
    position:absolute;
    top:11%;
    height:20%;
    background-color:white;
    width: 100%;
}

/* because the actual background doesn't work....*/
.background{
    height:5000px;
    background-color:white;
    width:5000px;

}


/* This is for NORMAL HEADERS for most pages */ 
.normalheader{ 
    position:absolute;
    height:15%;
    background-color:white;
    width: 100%;
    font-size:15px;
    left:0;
    top:1%;
}

.smallButton{
    font-size:18px;
}

.boxedForm{
    width: 80%;
    border: 3px solid #FF0040;
    margin-left:10%;
    margin-right:10%;
    padding:4%;
}

.simpleTextInput{
    margin:2px;
    border: 1px solid gray;
    margin-bottom:0px;
    font-size:18px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.mapMarker { 
   position: absolute; 
}


.paddedTable{
    padding-bottom:2%;
}

.smallTextbox{
    height:5%;
    padding:5px;
    margin-top:30px
}

.inputbody{
    top:15%;
    position: absolute;
    height:80%;
    width:100%;
    background-color:white;
}
.bigbody{
    top:10%;
    position: absolute;
    height:85%;
    width:100%;
    background-color:white;
}

.halfimg{
    height:42%;
    width:100%;
    text-align:center;
}
.icon{
    background: url(img/searchIcon.png) ;
    background-position: 7px 7px;
    background-repeat: no-repeat;
}
.footer{
    position:absolute;
    top:93%;
    height:7%;
    width:100%;
    background-color:#FF0040;
}


/*img {
    width: 100%;
    height: 100%;
    display:inline-block;
    position:relative;
}*/
.centerize { 
    text-align: center;
}

wrapper {
    text-align: center;
    vertical-align: middle;
}

.centered {
    margin:0 auto;
    display:block;
    text-align: center;
    top: 50%;
    font-size: 40px;
    background-color: #FF0040;
    border:none;

}
.headerText{
    color: #FF0040;
    font-size:35px;
    text-align:center;
    width:70%;
}

td.center{
    text-align:center;
    width:33.3%;
}

.pink{
    color: #FF0040;
}

.headerIcon{
    text-align: center;
    width:15%;
}
.welcome{
    color: #FF0040;
    font-size:60px;
    text-align:center;
}
a{
    color:white;
}


.textinput{
    margin-left: 10%;
    margin-right: 10%; /* BUG: THIS MARGIN-RIGHT DOES NOT WORK */;
    font-size: 20px;
    border-color: #FF0040;
    border-width: 3px;
    padding:25px;
    width: 80%;
    margin-bottom:30px;
}

.bigtextinput{ 
    height:50%;
    align: top;
}

.smalltextinput{
    margin:auto;
    font-size: 20px;
    border-color: #FF0040;
    border-width: 3px;
    padding:25px;
    width: 20%;
    margin-bottom:30px;
}
.inputcontainer{


}

.bignote{
    font-size:50px;
    text-align:center;
}

.note{
    font-size:25px;
    text-align:center;
}

.smallnote{
    font-size:18px;
    text-align:center;
}

.gray{
    color:#6E6E6E;
}


.pink{
    color:#FF0040;
}

.confirmLeft{
    font-size:18px;
    padding:10px;
    width:30%;
}


.confirmRight{
    font-size:18px;
    padding:10px;
    width:50%;
}

.confirmtable{
    width: 90%;
    border: 1px solid #FF0040;
    margin: auto;
}

.scrollable {
    margin-left: 10%;
    border: solid;
    border-color: #FF0040;
    border-width: 3px;
    padding:25px;
    width: 80%;
    margin-bottom:30px;
    height: 70%;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
}

.largeScrollable{
    margin-left: 5%;
    padding:10px;
    width: 90%;
    margin-bottom:5%;
    height: 80%;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;    
}

.reviews{
    text-align:center;
    color:gray;
    width:80%;
    margin-left:10%;
}

.bordered-listing {
    font-size: 30px;
    text-align: center;
    color: #FF0040;
    border: solid;
    margin-left: 10px;
    border-width: 1px;
    border-color: #FF0040;
    width: 95%;
}

.listing-edit-button{
    margin: 30px;
}

.amenities-form {
    margin-left: 20%;
    font-size: 20px;

}

.checkbox{
    margin-bottom: 35px;
}

.add-amenity-item {
    margin-left: -50px;
    margin-right: 10%;
}

.add-amenities-button {
    background-color: #FF0040;
}

/* css specific to index.html */
.top {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: red;
    border: 3px solid white;
}

.bottom {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    border: 3px solid white;
}

.homepage-image {
    height: 100%;
    width: 100%;
}

.top-homepage-button {
    position: absolute;
    z-index: 1;
    top: 43%;
    left: 25%;
}

.bottom-homepage-button {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 20%;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background-color: rgba(0,0,0,0.5);;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 4px solid #FF0040;
    color: white;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #FF0040;
    border-color: #FF0040;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    font-size: 25px;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
/***********************
  NORMAL INDEX.HTML CSS
************************/

.homepage-icon {
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: 1;
    top: 5%;
    left: 85%;
}
