/*!CK:1097049402!*//*1415704690,*/

.sp_Vj6gpunKcCN{background-image:url(/rsrc.php/v2/yI/r/WjPwKAx-OWg.png);background-size:18px 54px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Vj6gpunKcCN.sx_11d0e2{background-position:0 0}.sp_Vj6gpunKcCN.sx_8035bd{background-position:0 -18px}.sp_Vj6gpunKcCN.sx_b7ad63{background-position:0 -36px}

#bootloader_xhI69 { height: 42px; }
.bootloader_xhI69 { display:block !important; }