/*!CK:1733461049!*//*1409753535,*/

.sp_hIASfkj0KDG{background-image:url(/rsrc.php/v2/yE/r/5o4CvO9o5c5.png);background-size:66px 46px;background-repeat:no-repeat;display:inline-block;height:10px;width:6px}.sp_hIASfkj0KDG.sx_f7605a{width:32px;height:32px;background-position:-32px 0}.selected .sp_hIASfkj0KDG.sx_f7605a{background-position:0 0}.sp_hIASfkj0KDG.sx_d3bd98{background-position:0 -34px}

#bootloader_JnV0c { height: 42px; }
.bootloader_JnV0c { display:block !important; }