/*!CK:1881395814!*//*1416666479,*/

.sp_pCW83tEeT80{background-image:url(/rsrc.php/v2/y5/r/LdP6Uoj2Aux.png);background-size:18px 54px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_pCW83tEeT80.sx_0f0269{background-position:0 0}.sp_pCW83tEeT80.sx_0c705b{background-position:0 -18px}.sp_pCW83tEeT80.sx_9a31e3{background-position:0 -36px}

#bootloader_CifJM { height: 42px; }
.bootloader_CifJM { display:block !important; }