/*!CK:3043437377!*//*1416802717,*/

.sp_z8eU5jpmK7a{background-image:url(/rsrc.php/v2/yD/r/OujgiMAibSP.png);background-size:18px 90px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_z8eU5jpmK7a.sx_791e5e{background-position:0 0}.sp_z8eU5jpmK7a.sx_5bc0f5{background-position:0 -18px}.sp_z8eU5jpmK7a.sx_450f5f{background-position:0 -36px}.sp_z8eU5jpmK7a.sx_3fde35{background-position:0 -54px}.sp_z8eU5jpmK7a.sx_803121{background-position:0 -72px}

#bootloader_5wee1 { height: 42px; }
.bootloader_5wee1 { display:block !important; }