/*!CK:1339665735!*//*1412035960,*/

.sp_4cKLVv6-cIj{background-image:url(/rsrc.php/v2/yH/r/R8gRUrl8qi5.png);background-size:28px 32px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_4cKLVv6-cIj.sx_bba5a8{width:12px;height:12px;background-position:-14px 0}.selected .sp_4cKLVv6-cIj.sx_bba5a8{background-position:0 0}.sp_4cKLVv6-cIj.sx_c8a824{background-position:0 -14px}

#bootloader_JhB5T { height: 42px; }
.bootloader_JhB5T { display:block !important; }