/*!CK:2477607788!*//*1416801381,*/

.sp_Av1kLYiXbJ7{background-image:url(/rsrc.php/v2/yd/r/cxJiqv6nRn1.png);background-size:26px 102px;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_Av1kLYiXbJ7.sx_551809{width:16px;height:16px;background-position:0 -52px}.sp_Av1kLYiXbJ7.sx_53ca54{width:16px;height:16px;background-position:0 -70px}.sp_Av1kLYiXbJ7.sx_a5c0f0{background-position:0 0}.sp_Av1kLYiXbJ7.sx_385a4a{background-position:0 -26px}.sp_Av1kLYiXbJ7.sx_1a5993{width:12px;height:12px;background-position:0 -88px}

#bootloader_25ZMX { height: 42px; }
.bootloader_25ZMX { display:block !important; }